#! /usr/bin/env bash

# dconf.ini hash: {{ include "Brewfile" | sha256sum }}

echo 'Installing homebrew deps'

brew bundle install --cleanup

#if ! [[ "$(vagrant plugin list | grep vagrant-parallels)" =~ "vagrant-parallels" ]]; then
#  echo "Installing 'vagrant-parallels' provider..."
#  VAGRANT_DISABLE_STRICT_DEPENDENCY_ENFORCEMENT=1 vagrant plugin install vagrant-parallels
#fi

# fnm i 20
# fnm default 20

# pnpm setup

if ! which turbo; then
  echo "'turbo' not found..."
fi