/* .parameter-hints-widget>.phwrapper {
  max-width: 100% !important;
  width: 100% !important;
}

.parameter-hints-widget {
  position: fixed !important;
  border-width: 2px !important;
  border-radius: 12px !important;
  padding: 10px !important;
  width: 70% !important;
  top: unset !important;
  bottom: 0px !important;
  margin-bottom: 40px !important;
  border-color: rgb(144, 104, 176) !important;
  background-color: rgb(43, 43, 43) !important;
  left: 15% !important;
} */