{;; define application identifiers
    :applications {
        :chrome ["^com\\.google\\.Chrome$"]
    }
    
    :main [
        {:des "foo" :rules [[:b :b :chrome]]},
        ;; {:des "bar" :rules [[:a :1 :chrome]]}
    ]
}

;; karabiner-windows-mode JSON
;; karabiner://karabiner/assets/complex_modifications/import?url=https://raw.githubusercontent.com/rux616/karabiner-windows-mode/master/json/windows_shortcuts.json